/*Especificidad: 001*/
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    color: #f8f8f2;
    background-color: #282a36;
    
    margin: 0;
    padding: 0;
}

/*Especificidad: 001*/
header, footer {
    color: #8be9fd;
    background-color: #44475a;

    display: flex;
    justify-content: space-evenly;

    margin: 0;
    padding: 0.5em;
}

/*Especificidad: 002*/
footer a {
    color: #8be9fd;
    
    padding: 1em 1em;

    text-decoration-line: none;
}

/*Especificidad: 012*/
footer a:hover {
    background-color: #44475a;
    color: #f8f8f2;
}

/*Especificidad: 012*/
footer a:active {
    background-color: #bd93f9;
    color:#f8f8f2;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/*Especificidad: 001*/
table {
    text-align: left;

    border: 0.2em solid #e5e9f0;
    border-collapse: collapse;

    margin: 1em;
}

/*Especificidad: 001*/
th, td {
    padding: 1em;

    border-bottom: 0.1em solid #e5e9f0;
}

/*Especificidad: 001*/
th {
    color: #2e3440;
    background-color: #e5e9f0;
}

/*Especificidad: 001*/
/*Especificidad: 012*/
button,
input[type=file] + label
{
    color: #eceff4;
    background-color: #4c566a;

    display: inline-flex;
    align-items: center; 

    padding: 0.5em 1em;
    border: 0.2em solid #3b4252;
}

/*Especificidad: 011*/
/*Especificidad: 011*/
button:hover,
input[type=file] + label:hover
{
    background-color: #2e3440;
}

/*Especificidad: 011*/
/*Especificidad: 022*/
button:active,
input[type=file] + label:active
{
    border: 0.2em solid #e5e9f0;
}

/*Especificidad: 001*/
form {
    background-color: #44475a;
    color: #f8f8f2;

    padding: 5%;
    margin: 1em;
}

/*Especificidad: 001*/
input, 
textarea {
    background-color: #fbfbfb; 
    color:#282a36;

    width: 100%; 
    height: 2.5em;

    border: none;
    margin-bottom: 2em;
}

/*Especificidad: 021*/
/*Especificidad: 021*/
/*Especificidad: 021*/
/*Especificidad: 011*/
input[type=text]:focus, 
input[type=email]:focus, 
input[type=password]:focus,
textarea:focus {
    outline: 0.2em solid #bd93f9;
}

/*Especificidad: 011*/
input[type=submit] {
    font-family: Verdana, sans-serif;
    text-decoration-line: none;
    font-size: 1.5em;

    background-color: #50fa7b;
    color: #282a36;

    height: auto;

    padding: 3% 5%;
    margin-bottom: 0em;

    border: 0.2em solid #50fa7b;
}

/*Especificidad: 021*/
input[type=submit]:hover {
    background-color: #44475a;
    color: #f8f8f2;
}

/*Especificidad: 021*/
input[type=submit]:active {
    background-color: #44475a;
    color: #ff79c6;

    border: 0.2em solid #ff79c6;
}

/*Especificidad: 011*/
input[type=file] {
    display: none;
}