/*Especificidad: 001*/
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    color: #eceff4;
    background-color: #2e3440;

    margin: 1em;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0.2em;
}

/*Especificidad: 001*/
button {
    color: #eceff4;
    background-color: #4c566a;

    padding: 0.5em 1em;
    border: 0.2em solid #3b4252;
}

/*Especificidad: 011*/
button:hover {
    background-color: #2e3440;
}

/*Especificidad: 011*/
button:active {
    border: 0.2em solid #e5e9f0;
}

/*Especificidad: 001*/
table {
    width: 100%;

    text-align: left;

    border: 0.2em solid #e5e9f0;
    border-collapse: collapse;

    margin-bottom: 1em;
}

/*Especificidad: 001*/
th, td {
    padding: 1em;

    border-bottom: 0.1em solid #e5e9f0;
}

/*Especificidad: 001*/
th {
    color: #2e3440;
    background-color: #e5e9f0;
}

/*Especificidad: 001*/
section {
    display: flex;
}

/*Especificidad: 001*/
img {
    width: 50%;
    padding: 0.5em;
}

/*Especificidad: 011*/
input[type=text] {
    color: #eceff4;
    background-color: #4c566a;

    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.2em solid #e5e9f0;
}